{
    "semi": true,
    "tabWidth": 4,
    "singleQuote": true,
    "printWidth": 80,
    "ignore": [
        "node_modules/**",
        "dist/**",
        "build/**",
        ".vitepress/**",
        "docs/.vitepress/cache/**",
        "docs/.vitepress/dist/**"
    ]
}
